<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="TflAppKey" value="e95b49621db54b1da87fa856b2369599" />
        <add key="TickernetApiKey" value="96215e89af254fb0b2bd554e2b9630fb" />
    </appSettings>
	<system.web>
	<customErrors mode="On" />
	<compilation debug="true" />
	</system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="NASA Exoplanet Archive TAP Proxy" stopProcessing="true">
          <match url="^space/api/exoplanets$" />
          <action type="Rewrite"
                  url="https://exoplanetarchive.ipac.caltech.edu/TAP/sync"
                  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
